/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) { 


    #header-top nav , #header-bottom
    {
        display:none;
    }

    #header-top img
    {
        margin:0;
        padding:16px;
    }


    #hamburger-menu 
    {
        display: block;
        justify-self: end;
        align-self: center;
        padding-right: 10px;
    }

 }

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) { 


}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) { 

 
 }

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) { 


 }



 